* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
}

:root {
  --text-white: rgba(255, 255, 255, 0.8);
  --main-background: rgb(244, 254, 255);
  --modal-background: rgba(0, 0, 0, 0.146);
  --brand-light-purple: rgba(137, 53, 216, 0.835);
  --brand-dark-purple: rgba(108, 32, 179, 0.835);
}

body {
  background-color: var(--main-background);
}

.auth-section {
  width: 100vw;
  height: 100vh;  
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 40%;
  border-radius: 1rem;
  background-color: var(--modal-background);
}

.form-container > :last-child {
  margin-bottom: 5%;
}

.form {
  width: 90%;
  margin: 5% 0 1% 0;
}

.form > :nth-child(n) {
  display: block;
  width: 100%;
}

.form-row > :nth-child(n) {
  width: 100%;
  margin: 1% 0;
}

.form-label {
  text-transform: capitalize;
}

.form-input {
  padding: 1% 0;
  font-size: medium;
}

.submit-btn {
  border-radius: 1rem;
  padding: 1% 0;
  border: none;
  background: linear-gradient(180deg, var(--brand-light-purple), var(--brand-dark-purple));
  color: var(--text-white);
  margin: 1% 0;
  font-size: medium;
}